.main-header {
    font-size: 42px;
    font-weight: 700;
    color: #1E88E5;
    padding-bottom: 10px;
}

.section-title {
    font-size: 26px;
    font-weight: 600;
    color: #1E88E5;
    margin-top: 15px;
}

.insight-card {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(30,136,229,0.1);
    margin-bottom: 10px;
}